<div class="dialog-wrapper">
  <new-spot
    *ngIf="editMode; else viewModeTemplate"
    [edit]="true"
  ></new-spot>
  <ng-template #viewModeTemplate>
    <div class="spot-content">
      <div class="spot-title-wrapper">
        <div class="spot-name">
          {{data.url}}&nbsp;
        </div>
      </div>

      <div class="tag-row">
        <div *ngFor="let tag of data.url" class="tag-wrapper">
          <div class="tag-content">{{tag}}</div>
        </div>
      </div>

      <div
        #images
        *ngIf="data.url"
        class="images"
        (pointerdown)="onImagesPointerDown($event)"
        (pointercancel)="onImagesPointerCancel($event)"
      >
        <div
          class="image-wrapper"
          [class.dragging]="imagePointerStartPos"
          [style.transform]="getImageTransform(0)"
        >
          <img [src]="data.url" />
        </div>
        <button
          *ngIf="currentImageIndex !== 0"
          class="previous-img-button image-buttons"
          mat-icon-button
          (pointerdown)="$event.stopPropagation()"
          (click)="swipeImage(currentImageIndex - 1)"
        >
          <mat-icon>arrow_back_ios_new</mat-icon>
        </button>

        <button
          *ngIf="currentImageIndex < 1"
          class="next-img-button image-buttons"
          mat-icon-button
          (pointerdown)="$event.stopPropagation()"
          (click)="swipeImage(currentImageIndex + 1)"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div class="images-dots">
        <div
          *ngFor="let image of data.url; let i = index"
          class="dot"
          [class.active]="currentImageIndex === i"
        ></div>
      </div>

      <div *ngIf="data.storagePath" class="note-wrapper">
        <div class="note-container">
          <div class="note-title">Notes:</div>
          <div class="note-content">{{data.storagePath}}</div>
        </div>
      </div>

      <a
        [href]="'https://www.google.com/maps/place/?q=place_id:' + data.url"
        class="google-map-link"
        target="_blank"
        matTooltip="Open with Google Maps in a new tab."
      >
        <img src="images/google-maps-icon.svg" alt="google maps" />
      </a>
    </div>

    <button
      class="edit-button"
      mat-icon-button
      matTooltip="Edit spot"
      matTooltipPosition="right"
      (click)="editSpot()"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button class="close-button" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </ng-template>
</div>
