<google-map
  height="100%"
  width="100%"
  [options]="{
  mapId: '2f0bb3aaaafce02c',
  disableDefaultUI: true,
  gestureHandling: 'greedy',
  center: {lat: 53.554486, lng: 10.007479},
  zoom: 19,
  heading: 324,
  tilt: 65
  }"
  (click)="clickMap()"
>
  <map-marker
    *ngIf="myLocation"
    [position]="myLocation"
    [options]="myLocationMarkerOptions"
  ></map-marker>
  <map-marker
    *ngFor="let marker of firebaseService.filteredMarkers; trackBy: trackByMarker"
    [position]="marker.position"
    [options]="marker.options"
    [clickable]="true"
    (mapClick)="$event.domEvent.stopPropagation(); onMarkerClick(marker)"
  ></map-marker>
</google-map>

<button
  #centerButton
  class="center-button"
  [matTooltip]="myLocation ? 'Center to your location' : 'Location is disabled by your browser'"
  matTooltipPosition="left"
  (click)="centerToUserLocation()"
>
  <mat-icon>{{myLocation ? "gps_fixed" : "location_searching"}}</mat-icon>
</button>
